body {
    background-color: powderblue;
}

#komputer {
    color: red;
    font-family: Calibri;
    font-size: 45px;
}
#cytat {
    font-size: 20px;
    color: darkblue;
    font-style: italic;
}

p {
    font-size: 23px;
    color: blue;
}
#mac {
    width: 720px;
    height: 480px;
}

#powrot:link,#powrot:visited {
    padding: 10px 10px;
    background-color: #f44336;
    display: inline-block;
    text-align: center;
    color: white;
}

#powrot:hover,#powrot:active{
    background-color: red;
}